.container {
    min-height: 100vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.root {
    
    background-image: linear-gradient( #26a69a  , #00796b);
    min-height: 100vh;
}

.status {
    margin: 10px;
}
/*
background-color: #26a69a;
*/