.container {
    min-height: 100vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: aqua;
}

.root {
    background-color: #26a69a;
    min-height: 100vh;
}

.status {
    margin: 10px;
}